package aplicationv;

import java.util.Scanner;

public class aplicationsource {

	public static void menu () {
			
		System.out.println("\tCadastro de clientes");
		System.out.println("0. Iniciar");
		System.out.println("1. Incluir");
		System.out.println("2. Alterar");
		System.out.println("3. Excluir");
		System.out.println("4. Consultar");
		System.out.println("Opcao:");
	
	}
	
	public static void main(String[] args)  {
	
		int opcao = 0;
		
		try (Scanner ler = new Scanner(System.in)) {
			menu ();
			
			opcao = ler.nextInt();
		}
		
		switch(opcao) {
		case 1:
			Iniciar();
			break;
		case 2:
			Incluir();
			break;
		case 3:
			Alterar();
			break;
		case 4:
			Excluir();
			break;
		case 5:
			Consultar();
			break;
		
		default:
			System.out.println("opção invlída, tente novamente!!");
		
		}
	}

	private static void Consultar() {
		System.out.println("Metodos de consulta: ");
		
	}

	private static void Excluir() {
		System.out.println("Metodos de exclusão: ");
		
	}

	private static void Alterar() {
		System.out.println("Metodos para alterar: ");
		
	}

	private static void Incluir() {
		System.out.println("Metodos para incluir: ");
		
	}

	private static void Iniciar() {
		System.out.println("Metodos para inciar: ");
		
	}

	
		
	}
	
